// http://patorjk.com/software/taag/#p=display&f=Georgia11&t=Type%20Something%20
// `7MMF'                                               mm
//   MM                                                 MM
//   MM  `7MMpMMMb.pMMMb. `7MMpdMAo.  ,pW"Wq.`7Mb,od8 mmMMmm ,pP"Ybd
//   MM    MM    MM    MM   MM   `Wb 6W'   `Wb MM' "'   MM   8I   `"
//   MM    MM    MM    MM   MM    M8 8M     M8 MM       MM   `YMMMa.
//   MM    MM    MM    MM   MM   ,AP YA.   ,A9 MM       MM   L.   I8
// .JMML..JMML  JMML  JMML. MMbmmd'   `Ybmd9'.JMML.     `MbmoM9mmmP'
//                          MM
//                        .JMML.


//                                   ,,
//  .M"""bgd           mm     mm     db
// ,MI    "Y           MM     MM
// `MMb.      .gP"Ya mmMMmm mmMMmm `7MM  `7MMpMMMb.  .P"Ybmmm ,pP"Ybd
//   `YMMNq. ,M'   Yb  MM     MM     MM    MM    MM :MI  I8   8I   `"
// .     `MM 8M""""""  MM     MM     MM    MM    MM  WmmmP"   `YMMMa.
// Mb     dM YM.    ,  MM     MM     MM    MM    MM 8M        L.   I8
// P"Ybmmd"   `Mbmmd'  `Mbmo  `Mbmo.JMML..JMML  JMML.YMMMMMb  M9mmmP'
//                                                  6'     dP
//                                                  Ybmmmd'



//                                ,,           ,,        ,,
// `7MMF'   `7MF'                 db          *MM      `7MM
//   `MA     ,V                                MM        MM
//    VM:   ,V ,6"Yb.  `7Mb,od8 `7MM   ,6"Yb.  MM,dMMb.  MM  .gP"Ya  ,pP"Ybd
//     MM.  M'8)   MM    MM' "'   MM  8)   MM  MM    `Mb MM ,M'   Yb 8I   `"
//     `MM A'  ,pm9MM    MM       MM   ,pm9MM  MM     M8 MM 8M"""""" `YMMMa.
//      :MM;  8M   MM    MM       MM  8M   MM  MM.   ,M9 MM YM.    , L.   I8
//       VF   `Moo9^Yo..JMML.   .JMML.`Moo9^Yo.P^YbmdP'.JMML.`Mbmmd' M9mmmP'

$darkPurple: #655795;
$purple: #9f90ff;
$lightPurple: #d3cbff;

//                   ,,               ,,             gp
// `7MMM.     ,MMF'  db               db             \/
//   MMMb    dPMM                                    `'
//   M YM   ,M MM  `7MM  `7M'   `MF'`7MM  `7MMpMMMb.   ,pP"Ybd
//   M  Mb  M' MM    MM    `VA ,V'    MM    MM    MM   8I   `"
//   M  YM.P'  MM    MM      XMX      MM    MM    MM   `YMMMa.
//   M  `YM'   MM    MM    ,V' VA.    MM    MM    MM   L.   I8
// .JML. `'  .JMML..JMML..AM.   .MA..JMML..JMML  JMML. M9mmmP'
@mixin group() {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}
//                                                        ,,
// `7MM"""YMM               mm                          `7MM
//   MM    `7               MM                            MM
//   MM   d    `7M'   `MF'mmMMmm .gP"Ya `7MMpMMMb.   ,M""bMM
//   MMmmMM      `VA ,V'    MM  ,M'   Yb  MM    MM ,AP    MM
//   MM   Y  ,     XMX      MM  8M""""""  MM    MM 8MI    MM
//   MM     ,M   ,V' VA.    MM  YM.    ,  MM    MM `Mb    MM
// .JMMmmmmMMM .AM.   .MA.  `Mbmo`Mbmmd'.JMML  JMML.`Wbmd"MML.

// (name, breakpoint-min-width, breakpoint-max-width, max-width, gutter, columns)
$layouts:
	(small, 0px, 600px, 100%, 4%, 2)
	(medium, 601px, 959px, 800px, 3%, 3)
	(large, 960px, 99999px, 1200px, 2%, 4);

// add a media query for each layout
@mixin break($media) {
	@each $layout in $layouts {
		@if nth($layout, 1) == $media {
			@media only screen and (min-width: nth($layout, 2)) and (max-width: nth($layout, 3)) { @content; }
		}
	}
}

// Extendable Flexible Grid
@each $layout in $layouts {
	$layout-name: nth($layout, 1);
	$min-width: nth($layout, 2);
	$max-width: nth($layout, 3);
	$width: nth($layout, 4);
	$gutter: nth($layout, 5);
	$columns: nth($layout, 6);
	@media all and (max-width: $max-width) and (min-width: $min-width) {
		@for $ii from 1 through $columns {
			%#{$layout-name}-cols-#{$ii} {
				width: ($ii * ((100% + $gutter) / $columns)) - $gutter;
				margin-right: $gutter;
			}
		}
		%#{$layout-name}-wrap {
			max-width: $width;
		}
		%#{$layout-name}-rowend {
			margin-right: 0;
		}
	}
}
//            ,,                                          ,,        ,,
//  .M"""bgd  db   mm               `7MMF'     A     `7MF'db      `7MM
// ,MI    "Y       MM                 `MA     ,MA     ,V            MM
// `MMb.    `7MM mmMMmm .gP"Ya         VM:   ,VVM:   ,V `7MM   ,M""bMM  .gP"Ya
//   `YMMNq.  MM   MM  ,M'   Yb         MM.  M' MM.  M'   MM ,AP    MM ,M'   Yb
// .     `MM  MM   MM  8M""""""         `MM A'  `MM A'    MM 8MI    MM 8M""""""
// Mb     dM  MM   MM  YM.    ,          :MM;    :MM;     MM `Mb    MM YM.    ,
// P"Ybmmd" .JMML. `Mbmo`Mbmmd'           VF      VF    .JMML.`Wbmd"MML.`Mbmmd'
* {
	box-sizing: border-box;
}
html {
	background-color: $darkPurple;
}

section {
	@extend %small-wrap;
	@extend %medium-wrap;
	@extend %large-wrap;
	background-color: $purple;
	height: 1000px;
	margin: 0 auto;
	> div {
		border: 1px solid $darkPurple;
		background-color: $lightPurple;
		float: left;
		min-height: 100px;
		padding: 1em;
	}
}
.block1 {
	@extend %small-cols-1;
	@extend %medium-cols-1;
	@extend %large-cols-1;
	h1 {
		margin: 0;
	}
	@include break(small) {
		background-color: red;
	}
	@include break(medium) {
		background-color: orange;
	}
	@include break(large) {
		background-color: yellow;
	}
}
.block2 {
	@extend %small-cols-1, %small-rowend;
	@extend %medium-cols-1;
	@extend %large-cols-2;
}
.block3 {
	@extend %small-cols-2, %small-rowend;
	@extend %medium-cols-1, %medium-rowend;
	@extend %large-cols-1, %large-rowend;
}
.block4 {
	@extend %small-cols-1;
	@extend %medium-cols-3, %medium-rowend;
	@extend %large-cols-3, %large-rowend;
}
.block5 {
	@extend %small-cols-1, %small-rowend;
	@extend %medium-cols-2;
	@extend %large-cols-3;
}
.block6 {
	@extend %small-cols-2;
	@extend %medium-cols-1, %medium-rowend;
	@extend %large-cols-1, %large-rowend;
}

// `7MM"""Mq.
//   MM   `MM.
//   MM   ,M9 ,6"Yb.  .P"Ybmmm .gP"Ya  ,pP"Ybd
//   MMmmdM9 8)   MM :MI  I8  ,M'   Yb 8I   `"
//   MM       ,pm9MM  WmmmP"  8M"""""" `YMMMa.
//   MM      8M   MM 8M       YM.    , L.   I8
// .JMML.    `Moo9^Yo.YMMMMMb  `Mbmmd' M9mmmP'
//                   6'     dP
//                   Ybmmmd'