@media all and (max-width: 600px) and (min-width: 0px) {
  .block1, .block2, .block4, .block5 {
    width: 48%;
    margin-right: 4%; }

  .block3, .block6 {
    width: 100%;
    margin-right: 4%; }

  section {
    max-width: 100%; }

  .block2, .block3, .block5 {
    margin-right: 0; } }
@media all and (max-width: 959px) and (min-width: 601px) {
  .block1, .block2, .block3, .block6 {
    width: 31.33333%;
    margin-right: 3%; }

  .block5 {
    width: 65.66667%;
    margin-right: 3%; }

  .block4 {
    width: 100%;
    margin-right: 3%; }

  section {
    max-width: 800px; }

  .block3, .block4, .block6 {
    margin-right: 0; } }
@media all and (max-width: 99999px) and (min-width: 960px) {
  .block1, .block3, .block6 {
    width: 23.5%;
    margin-right: 2%; }

  .block2 {
    width: 49%;
    margin-right: 2%; }

  .block4, .block5 {
    width: 74.5%;
    margin-right: 2%; }

  section {
    max-width: 1200px; }

  .block3, .block4, .block6 {
    margin-right: 0; } }
* {
  box-sizing: border-box; }

html {
  background-color: #655795; }

section {
  background-color: #9f90ff;
  height: 1000px;
  margin: 0 auto; }
  section > div {
    border: 1px solid #655795;
    background-color: #d3cbff;
    float: left;
    min-height: 100px;
    padding: 1em; }

.block1 h1 {
  margin: 0; }
@media only screen and (min-width: 0px) and (max-width: 600px) {
  .block1 {
    background-color: red; } }
@media only screen and (min-width: 601px) and (max-width: 959px) {
  .block1 {
    background-color: orange; } }
@media only screen and (min-width: 960px) and (max-width: 99999px) {
  .block1 {
    background-color: yellow; } }
